@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [data-nextjs-scroll-focus-boundary] {
        display: contents;
    }
}

* {
    box-sizing: border-box;
}

.rainbow-mesh {
    background-color: hsla(0, 100%, 50%, 1);
    background-image: radial-gradient(at right bottom, rgb(253, 224, 71), rgb(120, 53, 15), rgb(207, 250, 254))
}

.glass {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.4);
}

[data-nextjs-scroll-focus-boundary] {
    display: contents;
}

html {
    font-family: 'Inter', sans-serif;
}